collections-extended==0.7.0
more-itertools==2.2
chicken-turtle-util==1.0.0
click==6.3
plumbum==1.6.1.post0
pypandoc==1.1.3
GitPython==1.0.2
pip-tools==1.6
checksumdir==1.0.5
versio==0.3.0
networkx==1.11
pytest==2.9.0
pytest-xdist==1.14
pytest-env==0.6.0
pytest-mock==0.11.0
apipkg==1.4               # via execnet
gitdb==0.6.4              # via gitpython
execnet==1.4.1            # via pytest-xdist
py==1.4.31                # via pytest, pytest-xdist
first==2.0.1              # via pip-tools
six==1.10.0               # via pip-tools
smmap==0.9.0              # via gitdb
decorator==4.0.9          # via networkx
