# List of required dependencies
#-e ../chicken_turtle_util
chicken_turtle_util==1.0.0
collections-extended
more_itertools
click
plumbum
pypandoc
GitPython
pip-tools<1.7
pip<8.1.2
checksumdir
Versio
numpy