collections-extended==0.7.0
pytest==2.9.0
more-itertools==2.2
chicken-turtle-util==1.0.0
click==6.3
plumbum==1.6.1.post0
pypandoc==1.1.3
GitPython==1.0.2
pip-tools==1.6
checksumdir==1.0.5
versio==0.3.0
pytest-env==0.6.0
pytest-testmon==0.8.2
pytest-cov==2.2.1
coverage-pth==0.0.1
networkx==1.11
pytest-mock==0.11.0
smmap==0.9.0              # via gitdb
pbr==1.8.1                # via mock
coverage==4.0.3           # via coverage-pth, pytest-cov, pytest-testmon
decorator==4.0.9          # via networkx
ordereddict==1.1          # via versio
first==2.0.1              # via pip-tools
py==1.4.31                # via pytest
funcsigs==0.4             # via mock
mock==1.3.0               # via pytest-mock
argparse==1.4.0           # via versio
six==1.10.0               # via mock, pip-tools
gitdb==0.6.4              # via gitpython
